.home {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.homeImg {
    width: 300px;
}

.about {
    line-height: 30px;
}

@media (max-width: 670px){
    .home {
        grid-template-columns: 1fr ;
    }
    .homeImg {
        width: 250px;
        justify-self: center;
    }
    .about {
        text-align: center;
    }
}